body {background: #edeef0; display: flex; justify-content: center; color: #202124;}
button {color: #202124; border: 1px solid #ccc; border-radius: 5px; background: #fff; height: 28px; cursor: pointer; transition: background 0.3s;}
    button:hover { transition: background 0.3s; background: #474747; color: #fff;}
input {border: 1px solid #ccc; border-radius: 5px; height: 25px;}
.layout {
    max-width: 1820px;
    width: 100%;
    height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {display: flex; flex-direction: column; align-items: center;}
.welcome button {width: 150px;}

.authorization {display: none;position: fixed;inset: 0;background: rgba(0, 0, 0, 0.5);justify-content: center;align-items: center;backdrop-filter: blur(3px);}
.authorization__form {display: flex;
    justify-content: center;
    flex-direction: column;
    background: #efefef;
    height: 230px;
    width: 230px;
    padding: 50px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.authorization__content {background: #efefef;border-radius: 10px;max-width: 400px;position: relative;display: flex;flex-direction: column;gap: 40px;align-items: center;}
.authorization__input-block {display: flex;flex-direction: column;gap: 20px;}
.authorization__header {display: flex;justify-content: center;flex-direction: column;gap: 4px;width: 210px;}
.authorization__footer {display: flex;gap: 20px;}
.authorization__close {
    position: absolute;
    right: -5px;
    top: -45px;
    font-size: 18px;
    cursor: pointer;
    width: 28px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4e4e;
}

.u-padding-left {padding-left: 2px;}

.registration {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.registration__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #efefef;
    height: 370px;
    width: 230px;
    padding: 50px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.registration__close {
    position: absolute;
    right: -5px;
    top: -45px;
    font-size: 18px;
    cursor: pointer;
    width: 28px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4e4e;
}

.hidden {
    display: none !important;
}

.visible {
    display: inline-block !important;
}

.wrapperBtn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #edeef0; /* фон темы сайта */
    z-index: 9999;
}

#preloader {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none;
}